
<div id="textinput">
  <input type="text" [(ngModel)] = "city" placeholder="City" (keyup.enter)="show5DayWeather()" (blur)="show5DayWeather()">
</div>
<!-- <button (click)="show5DayWeather()">Show Weather</button> -->


<div class="weather-forecast" role="main">
    <div class="location">{{ currentCity }}</div>
    <div class="date">{{currentDate}}</div>
    <div class="desc">{{ weatherStatus }}</div>
    <div class="current">
      <div class="visual">
        <div class="icon"><img src={{imgURL}}></div>
        <div class="temp">{{currentTemp}}</div>
        <div class="scale">°C</div>
      </div>
      <div class="description">
        <div class="humidity">{{humidity}}%</div>
        <div class="wind">{{wind}} mph {{windDirection}}</div>
      </div>
    </div>
    
    
    <app-day-weather *ngFor="let detail of detailsAll" [details]="detail"></app-day-weather>
    
  </div>
<router-outlet></router-outlet>
